/* General */
body {
    color: #002f47;
}

img {
    display: block;
    margin: 0 auto;
}



/* Header */
.terminix-header {
    background-color: #002f47;
    padding: 20px 10px;
    /* left: 20px; */
}



/* Hero */
.termite-hero {
    background-image: url('../images/Termite Img.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    min-height: 150px;
}

.hero-text {
    color: white;
    text-align: center;
    font-weight: bold;
}



/* Forms */
#HeroForm, .bottom-form {
    background-color: #002f47;
    width: 90vw;
    margin: 15px 5vw;
    padding: 15px;
    color: white;
    text-align: center;
}

.form-inputs {
    /* padding-top: 10px; */
    margin: 15px auto 0;
    max-width: 420px;
}

::placeholder {
    color: #002f47 !important;
    opacity: 1;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
}

.form-control {
    /* padding: 30px; */
    margin: 20px 5% 0 5%;
    width: 90%;
}

.tcpa {
    margin: 10px auto;
    max-width: 420px;
}

#consentText {
    display: block;
    padding: 0 15px;
}



/* Map section */

#damage-cost {
    padding: 0 30px;
    text-align: center;
}





/* info block */
.info-block {
    background-color: #eff0ef;
    margin: 5%;
    padding: 10px;
}

.info-block h5 {
    color: #3cb363;
    font-weight: bold;
}



/* mobile cta */
.mobile-cta{
    text-align: center;
    margin: 20px;
}



/* threat section */
.threat-section {
    margin: 20px 10%;
}

.threat-section ol {
    margin-left: -25px;
}



/* bottom form */
.bottom-form {
    width: 100%;
    margin: 0;
    padding: 10px;
}




/* misc */
.orange-box {
    background-color: #f5841f;
    color: white;
    font-weight: bold;
    display: block;
    width: 80%;
    margin: 0 auto;
    max-width: 350px;
    border-radius: 5px;
}

.phone-icon {
    display: inline;
    padding: 0 10px 10px 0;
}

.phone-number {
    font-size: 2em;
}

.offer-image {
    min-width: 50vw;
    margin-bottom: 15px;
}